@font-face {
  font-family: "SBL Hebrew";
  src: url('SBL_Hbrw.ttf');
}

body {
  background-color: whitesmoke;
  margin: 0 auto;
  font-size: 18px;
}

.container {
  background-color: whitesmoke;
  padding: 50px 20px;
  width: 90%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  margin: 0 auto;
}

.dropdown-menu {
  max-height: 600px;
  overflow-y: auto;
}

h1 {
  color: tomato;
}
* {
  line-height: 150%;
}
li div a {
  line-height: 120%;
}
.exam {
  color: red;
}

.heb {
  font-family: "SBL Hebrew";
  font-size: 18px;
}

.heby {
  background-color: yellow;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebg {
  background-color: lawngreen;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebr {
  background-color: red;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebcr {
  color: red;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebcb {
  color: blue;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebt {
  font-family: "SBL Hebrew";
  font-size: 30px;
  text-align: center;
}

.bottom {
  bottom: 0px;
  left: 0px;
  font-size: 8px;
}

img {
  width: 15%;
  height: auto;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

cite {
  color:Brown;
}

iframe {
  display:block;
  margin: 0 auto;
}

.dropdown:hover>.dropdown-menu {
display: block;
}

.dropdown>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
