@font-face {
  font-family: "SBL Hebrew";
  src: url('SBL_Hbrw.ttf');
}

body {
  background-color: whitesmoke;
  max-width: 800px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  margin: 0 auto;
}

input.consonants {
  font-family: "SBL Hebrew";
  font-size: 40px;
  width: 50px;
  height: 40px;
}

input.hebrewtypingtest {
  font-family: "SBL Hebrew";
  font-size: 60px;
  width: 650px;
  height: 100px;
}

h1 {
  color: tomato;
}

.exam {
  color: red;
}

.heb {
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.heby {
  background-color: yellow;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebg {
  background-color: lawngreen;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebr {
  background-color: red;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebt {
  font-family: "SBL Hebrew";
  font-size: 30px;
  text-align: center;
}

.bottom {
  bottom: 0px;
  left: 0px;
  font-size: 8px;
}

img {
  width: 15%;
  height: auto;
  cursor: pointer;
}
