@font-face {
  font-family: "SBL Hebrew";
  src: url('SBL_Hbrw.ttf');
}

* {
  line-height: 150%;
}
li div a {
  line-height: 120%;
}
html, body {
  margin: 0px auto;
  padding: 0px;
}

body {
  background-color: whitesmoke;
  position: absolute;
  padding-top: 50px;
  padding-bottom: 20px;
  max-width: 800px;
}

#nav {
  position:fixed !important;
  top:0px !important;
  z-index:9999 !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

nav ul {
  width:100%;
  max-width:800px;
}

.navbar-nav {
  position: relative;
}
.dropdown-menu {
  max-height: 600px;
  overflow-y: auto;
}

h1 {
  color: tomato;
}

.exam {
  color: red;
}

.heb {
  font-family: "SBL Hebrew";
  font-size: 18px;
}

.heby {
  background-color: yellow;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebg {
  background-color: lawngreen;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebr {
  background-color: red;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebcr {
  color: red;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebcb {
  color: blue;
  font-family: "SBL Hebrew";
  font-size: 24px;
}

.hebt {
  font-family: "SBL Hebrew";
  font-size: 30px;
  text-align: center;
}

.bottom {
  bottom: 0px;
  left: 0px;
  font-size: 8px;
}

img {
  width: 15%;
  height: auto;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

cite {
  color:Brown;
}

iframe {
  display:block;
  margin: 0 auto;
}

.dropdown:hover>.dropdown-menu {
display: block;
}

.dropdown>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
